.App {
  text-align: center;
}
.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px; 
}
.title {
  margin: 0;
  font-size: 60px;
}

.slogan {
  margin: 0px;
  
}
.navWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 130px;
}

a {
  text-decoration: none;
  color: black;
  margin: 3px;
}
a:hover {
  color: blue;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
